.title-wrapper {
    @include flex-center;
    justify-content: flex-start;
    gap: 20px;
}

.title {
    display: inline-block;
    @include title;
    font-size: 2.125rem;
    &--white {
        color: #FFFFFF;
    }
}

.title-divider {
    display: inline-block;
}